#background-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  filter: grayscale(1) brightness(0.45) contrast(1.05);
}

#background-video-overlay {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;

  h1 {
    font-size: 12vw;
    font-weight: bolder;
    text-align: center;
    color: #F7EB61;
    mix-blend-mode: multiply;
    filter: sepia(0.6) brightness(0.7) contrast(2.05) opacity(0.8) blur(2px);
    animation: glow 5s infinite;

    @media (max-width: 600px) {
      font-size: 25vw;
    }
  }

  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #F7EB61;
    }

    15% {
      text-shadow: 2px 2px 10px #F7EB61, -2px -2px 10px #F7EB61;
    }
    30% {
      text-shadow: 2px 2px 4px rgba(255, 255, 255, .7), -2px -2px 4px rgba(255, 255, 255, .7);
    }
    50% {
      text-shadow: 20px 20px 50px rgba(255, 255, 255, .5), -20px -20px 50px rgba(255, 255, 255, .5);
    }
  }
}